.mainTitle{
    font-size: 100px;
}

.item{
    height: 400px;
    width: 300px;
    border:3px solid #bbb;
    position: relative;
    background-size: contain;
}

.item:nth-child(1){
    background-image: url('/illustration.png');
}
.item:nth-child(2){
    background-image: url('/websites.jpg');
}
.item:nth-child(3){
    background-image: url('/apps.jpg');
}

.items{
    display: flex;
    gap:20px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom:20px;
    right: 40px;
}
.item:hover .title{
    color: aqua;
}

.subTitle{
    margin: 40px 0;
}

